/*Ayuda*/

.containerPreguntas {
    padding-top: 70px;
    width: 900px;
    text-align: center;
  }
  
  .containerAyuda {
    display: flex;
    justify-content: center;
  }
  
  .containerCYD {
    width: 900px;
    padding-top: 60px;
  }
  
  /*----------------------------------*/