/*Footer*/

.iconRedes {
    font-size: 2rem;
  }
  
  .menuFooter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif';
    font-size: 1.2rem;
  }